<!-- <table>
    <tr>
        <td>
            <div class=""></div>
        <button (click)="toggle()">
            <ng-content select=".heading"></ng-content>
        </button>
        </td>
    </tr>
    <tr *ngIf="isExpanded">
        <td>
        <ng-content select=".body"></ng-content>
        </td>
    </tr>
</table> -->

<!-- Assigment: Header-Body -->
<div class="panel-default">
<div class="panel-heading">
    <div class="panel-title" (click)="toggle()">
        {{title}}
        <span class="glyphicon" style="float: right;" [ngClass]="{
            'glyphicon-chevron-up': isExpanded,
            'glyphicon-chevron-down': !isExpanded
        }"></span>
    
</div>
</div> 
<div *ngIf="isExpanded" class="panel-body">
    <ng-content select=".body"></ng-content> 
</div>  
