.glyphicon-heart-liked {
    font-size: medium;
  color: deeppink;
  cursor: pointer;
}

.glyphicon-heart-default {
    font-size: medium;
    color: grey;
    cursor: pointer;
  }

.likes-counter {
    
  font-size: 2em;
  margin-left: 5px;
}