<form [formGroup]="form">
    <div class="form-group">        
        <label for="oldPassword">Old Password</label>
        <input type="password" 
        id="oldPassword" 
        formControlName="oldPassword" 
        class="form-control"
        (blur)="validateOldPassword()">
        <div class="alert alert-danger" *ngIf="oldPassword?.invalid && oldPassword?.touched">
            <div *ngIf="oldPassword?.errors?.['required']">Old Password is required</div>
            <div *ngIf="oldPassword?.hasError('isWrongPasswordEntered')">Old password is wrong</div>
        </div>
    </div>
    <div class="form-group">        
        <label for="newPassword">New Password</label>
        <input type="password" 
        id="newPassword" 
        formControlName="newPassword" 
        class="form-control">
        <div class="alert alert-danger" *ngIf="newPassword?.invalid && newPassword?.touched">
            <div *ngIf="newPassword?.errors?.['required']">New Password is required</div>            
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control">
        <div class="alert alert-danger" *ngIf="confirmPassword?.invalid && confirmPassword?.touched">
            <div *ngIf="confirmPassword?.hasError('required')">Confirm Password is required</div>            
        </div>
        <div class="alert alert-danger" *ngIf="confirmPassword?.touched &&  form.errors?.['passwordsMustMatch']">
            Passwords should match
        </div>
    </div>
</form>
