<!-- <h1>{{title}}</h1> -->
<!-- <courses></courses> -->
<!-- <authors></authors> -->
<!-- <app-favorite [isFavorite]="post.isFavorite" (onFavoriteChangedEvent)="onFavoriteChanged($event)"></app-favorite> -->

<!-- <app-bootstrap-panel>
    <ng-container class="heading">Bootstrap Header</ng-container>
    <ng-container class="body">
        <div>Boostrap Body</div>
        <p>This is boostarp panel body...</p>
    </ng-container>
    
</app-bootstrap-panel> -->

<!-- Bindings- Assigment -->
<!-- <app-like [likesCount]="tweet.likesCount" [isLiked]="tweet.isLiked"></app-like> -->

<!-- Custom Pipe- Assigment -->
<!-- <input type="text" [(ngModel)]="words"/>
<p>{{words | titleCasing }}</p> -->

<!-- Directives -->
<!-- <app-courses></app-courses> -->

<!-- Custom Directive -->
<!-- <app-zippy title="Shipping Details">    
    <div class="body">Shipping Details Content</div>
</app-zippy>

<app-zippy title="Billing Details">    
    <div class="body">Billing Details Content</div>
</app-zippy> -->

<!-- Template Driven Forms -->
<!-- <app-contact-form></app-contact-form> -->

<!-- Assignment on Template Driven Forms -->
<!-- <app-angular-template-assigment></app-angular-template-assigment> -->

<!-- Reactive forms -->
<!-- <app-signup-form></app-signup-form> -->
<!-- <app-new-course-form></app-new-course-form> -->
<!-- <app-change-password></app-change-password> -->

<!-- HTTP Service -->
<!-- <app-posts></app-posts> -->

<!-- Assigment on HTTP Service Usage-->
<!-- <app-my-followers></app-my-followers> -->

<!-- <app-navbar></app-navbar> -->
<!-- <router-outlet></router-outlet> -->

<!-- Assigment on Routing -->
<!-- shouldn't define the home component here due to the navigation takes care as per routes path. -->
<!-- <app-home></app-home> -->
<router-outlet></router-outlet>